.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .formulaire {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .sitename {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: bold;
  }

  

  .logo {
 
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .title {
    font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  color: #000;
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  
  .btn-success {
    background-color: #526760;
    border: none;
  }
  
  .btn-success:hover {
    background-color: #526760;
  }
  
  .btn-success:focus {
    box-shadow: none;
  }

  .loading{
    font-style: italic;
    margin-right: 20px;
    font-size: 20px;
  }
  .loadingimg{
    height: 80px;
    width: 80px;
  }
/*JEUX DE LOADING */
  .loadingimg {
    /* Autres styles CSS pour l'image */
    transition: transform 0.3s ease-in-out;
  }
  
  .jumping {
    transform: translateY(-100px);
  }

  /*OBSTACLE*/
 
/*   
    .obstacle {
      position: relative;
      top: 10%;
      right: 100%;
      transform: translateX(50%) translateY(-50%);
      height: 20px;
      width: 20px;
      background-image: url('../../../public/img/thib.PNG');
      background-size: cover;
      animation: obstacleMove 5s linear infinite;
    }
  
    @keyframes obstacleMove {
      0% {
        transform: translate(50%, -50%) rotate(0deg);
      }
      50% {
        transform: translate(50%, -50%) rotate(20deg);
      }
      100% {
        transform: translate(-100%, -50%) rotate(0deg);
      }
    }
   */
