#test-accueil {
    display: grid; 
    grid-template-rows: 4rem auto 45px;
    grid-template-columns: 16rem auto 1fr 1fr;
    gap: 3px;
    height: 100%;
   
   
  }
  
  /*A GAUCHE*/
  .co-container {
    background-color: #c3cbc0;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;

    border-radius: 5px;
    text-align: center;
    /* column-count: 3; */
    display : inline;
    cursor: wait;
    /* margin-right: 150px;
    margin-left: 150px; */
  }

  .co-container a {
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  /*A DROITE*/
  .create-new {
    background-color: #c3cbc0;
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 2;
    grid-column-end: 5;

    white-space: pre-wrap;
    border-radius: 5px;
    text-align: center;
    /* column-count: 3; */
    display : inline;
    cursor: wait;
    /* margin-right: 150px;
    margin-left: 150px; */
    
  }

  .create-new a {
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  /*A GAUCHE*/
  .logo {
    grid-row-start: 2;
   grid-column-start: 1;
   grid-row-end: 3;
   grid-column-end: 3;
   border-radius: 56px;
  
  }

  #happylogo{
    margin-left: 100px;
    margin-right: 10px;
    height: 500px;
    width: 600px;
  }

 

  .text-container {
    margin-top: 100px;
    margin-right: 50px;
    transform: rotate(15deg);
   background-color: #c3cbc0;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 5;
    text-align: center;
    /* column-count: 3; */
    display : inline;
    cursor: wait;
    letter-spacing: 3px;
    text-indent: 26px;
    white-space: pre-wrap;
    border-radius: 5px;
    transform: scale(0.88);
    
  }
  

  
  
  
  
  